/* Selection utility styles */

/* Text selection styling */
*::selection {
  background: rgba(0, 0, 0, 0.01); /* Almost transparent background */
  color: var(--color-primary) !important; /* Purple text color */
}

*::-moz-selection {
  background: rgba(0, 0, 0, 0.01); /* Almost transparent background */
  color: var(--color-primary) !important; /* Purple text color */
}

*::-webkit-selection {
  background: rgba(0, 0, 0, 0.01); /* Almost transparent background */
  color: var(--color-primary) !important; /* Purple text color */
}
