/* Animation keyframes */
@keyframes growDown {
  0% { transform: scaleY(0) }
  80% { transform: scaleY(1.1) }
  100% { transform: scaleY(1) }
}

@keyframes glow {
  0% { fill-opacity: 0.25; }
  100% { fill-opacity: 1.0 }
}

@keyframes GradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
